

.theme-light {
    --bg-rgba-header: rgba(255, 255, 255, 0.8);
    --color-links: #80bfff;
    --bg-btn-header: #6bc2f1;
    --color-btn-header: #fff;
    --color-progress-bar: rgba(18, 84, 135, 0);
    --color-progress:rgb(107, 194, 241, 0);
    --bg-services-page: #fff;
    --bg-gallery-popups: #F1F1F1;
    --color-text-services: #1b1b1b;
    --form-text-title: #413D4B;
    --btn-form-color: #6BC2F1;
    --back-bg-popup: #F1F1F1;
  } 
  .theme-dark {
    --bg-rgba-header: rgba(7, 33, 53, 0.8);
    --color-links: #80bfff;
    --bg-btn-header: #fff;
    --color-btn-header: #6bc2f1;
    --color-progress-bar: rgba(18, 84, 135, 1);
    --color-progress:rgba(107, 194, 241, 1);
    --bg-services-page: #072135;
    --bg-gallery-popups: #072135;
    --color-text-services: #fff;          
    --form-text-title: #fff;
    --btn-form: #072135;
    --btn-form-color: #fff;
    --back-bg-popup: #072135;

  }

/*==-Обнуление===*/

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 18px;
    color: #000000;
    font-weight: 400;
    font-family: Roboto;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/*===Обнуление===*/
/*--------------------------------------------------------------------------------*/
/*===Шапка===*/

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    background-color: var(--bg-rgba-header);
}
.header__container {
    display: flex;
    min-height: 79px;
    align-items: center;
    justify-content: center;
}



@media (max-width: 584px) {
    .header__container {
        flex-wrap: wrap;
        
        
    }
}

@media (max-width: 744px) {
    .header__menu {
        margin: 0px auto;
    }
}

.header__logo {
    
}
@media (max-width: 576px) {
    .header__logo {
        margin: 0px auto;
        padding: 5px 0px;
    }
}
.header__menu {
    margin: 0px 0px 0px 100px;
    
}
@media (max-width: 804px) {
    .header__menu {
        margin: 0px 0px 0px 80px;
    }
}
@media (max-width: 784px) {
    .header__menu {
        margin: 0px 0px 0px 60px;
    }
}

@media (max-width: 734px) {
    .header__menu {
        margin: 0px 0px 0px 40px;
    }
}

@media (max-width: 704px) {
    .header__menu {
        margin: 0px 0px 0px 10px;
    }
}

@media (max-width: 554px) {
    .header__menu {
        margin: 0px auto;
    }
}






.menu {
    padding: 5px 0px;
    
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 534px) {
    .menu__list {
        margin: 0px auto;
        justify-content: center;
    }
}

.menu__item {
    
}
.menu__item:not(:last-child) {
    margin: 0px 21px 0px 0px;
}
.button-box {
    margin: 0px 0px 0px auto;
    display: flex;
    align-items: center;
    padding: 5px 0px;
    justify-content: center;
    text-align: center;
}
@media (max-width: 584px) {
    .button-box {
        margin: 0px auto;
    }
}


.menu__link {
    color: var(--color-links);
    line-height: calc(30 / 14 * 100%); /*line-height / font-size * 100 = line-height в %*/
    font-weight: bold;
    font-size: 14px;
}
@media (max-width: 554px) {
    .menu__link {
        font-size: 18px; /*при адаптиве %ый line-height автоматически изменяется при изменении font-size*/
    }
}

.header__button{
    margin: 10px;
    
}
@media (max-width: 791px) {
    .header__button {
        margin: 10px 5px;
    }
}





.btn {
    width: 140px;
    height: 46px;
    border: none;
    background-color: var(--bg-btn-header);
    color: var(--color-btn-header);
    text-transform: uppercase;
    cursor: pointer;
    line-height: 46px;
    font-size: 12px;
    font-family: Roboto;
    font-weight: 400;
    text-align: center;
    
}

.btn:hover {
    background-color: #249ee0;
    color: #b4ccd8;
    transition: 300ms;
    font-weight: bold;
}

.btn:active {
    background-color: #6bc2f1;
    color: #ffffff;
    font-weight: 400;
}

/*===Шапка===*/
/*--------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------*/
/*===PAGE===*/

.page {
    flex: 1 1 auto;
}

.page__main-block {
    
}
.main-block {
    position: relative;
}
.main-block__conteiner {
}
._container {
}
.main-block__body {
    padding: 371px 0px 145px 0px;
    position: relative;
    z-index: 2;
}
@media (max-width: 850px) {
    .main-block__body {
        padding: 340px 0px 145px 0px;
    }
}
@media (max-width: 800px) {
    .main-block__body {
        padding: 330px 0px 145px 0px;
    }
}
@media (max-width: 700px) {
    .main-block__body {
        padding: 320px 0px 145px 0px;
    }
}
@media (max-width: 650px) {
    .main-block__body {
        padding: 310px 0px 145px 0px;
    }
}
@media (max-width: 600px) {
    .main-block__body {
        padding: 290px 0px 145px 0px;
    }
}
@media (max-width: 550px) {
    .main-block__body {
        padding: 270px 0px 145px 0px;
    }
}
@media (max-width: 500px) {
    .main-block__body {
        padding: 250px 0px 145px 0px;
    }
}
@media (max-width: 460px) {
    .main-block__body {
        padding: 230px 0px 145px 0px;
    }
}
@media (max-width: 420px) {
    .main-block__body {
        padding: 210px 0px 145px 0px;
    }
}
@media (max-width: 380px) {
    .main-block__body {
        padding: 190px 0px 145px 0px;
    }
}
.main-block__title {
    font-size: 70px;
    line-height: calc(85 / 70 * 100%);
    font-family: Roboto;
    font-weight: 400;
    color: #ffffff;
    max-width: 536px;
    
}
@media (max-width: 885px) {
    .main-block__title {
        margin: 0 auto;
    }
}
@media (max-width: 540px) {
    .main-block__title {
        font-size: 60px;
        line-height: calc(85 / 60 * 100%);
        text-align: center;
    }
}
@media (max-width: 420px) {
    .main-block__title {
        font-size: 50px;
        line-height: calc(85 / 50 * 100%);
        text-align: center;
    }
}
@media (max-width: 320px) {
    .main-block__title {
        font-size: 40px;
        line-height: calc(85 / 40 * 100%);
        text-align: center;
    }
}

.main-block__title>span {
    font-size: 70px;
    font-family: Roboto;
    font-weight: bold;
}
@media (max-width: 496px) {
    .main-block__title>span {
        font-size: 65px;
        
    }
}
@media (max-width: 420px) {
    .main-block__title>span {
        font-size: 55px;
        
    }
}
@media (max-width: 496px) {
    .main-block__title>span {
        font-size: 45px;
        
    }
}

.main-block__subtitle {
    font-size: 26px;
    line-height: calc(32 / 26 * 100%);
    font-family: Roboto;
    font-weight: 400;
    color: #ffffff;
    max-width: 400px;
    padding-top: 23px;
}
@media (max-width: 885px) {
    .main-block__subtitle {
        margin: 0 auto;
        text-align: center;
    }
}
.main-block__discription {
    font-size: 18px;
    line-height: calc(30 / 18 * 100%);
    max-width: 470px;
    font-family: Roboto;
    font-weight: 400;
    color: #ffffff;
    padding-top: 60px;
}
@media (max-width: 360px) {
    .main-block__discription {
        padding-top: 10px;
        text-align: center;
    }
}
@media (max-width: 440px) {
    .main-block__discription {
        padding-top: 25px;
        text-align: center;
    }
}
@media (max-width: 885px) {
    .main-block__discription {
        padding-top: 25px;
        text-align: center;
        margin: 0 auto;
    }
}

/*------------------new buttons----------------*/
.main-block__bbtns {
    margin-top: 69px;
}
.bbtn {
    font-size: 12px;
    line-height: 9px;
    width: 201px;
    height: 47px;
    text-align: center;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #061B46;
}
.bbtn:hover {
    background-color: #6BC2F1;
    color: #fff;
}
.bbtn:active {
    background-color: #061B46;
    color: #6BC2F1;
}
.main-block_btns {

}
.abtn {
    font-size: 12px;
    line-height: 9px;
    width: 140px;
    height: 46px;
    text-align: center;
    background-color: var(--bg-btn-header);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-btn-header);
}
.abtn:hover {
    background-color: #249ee0;
    color: #b4ccd8;
    transition: 300ms;
    font-weight: bold;
}

.abtn:active {
    background-color: #6bc2f1;
    color: #ffffff;
    font-weight: 400;
}


/*------------------new buttons----------------*/

.main-block__buttons {
    padding-top: 60px;
    
}
@media (max-width: 320px) {
    .main-block__buttons {
        padding-top: 20px;
        text-align: center;
    }
}
@media (max-width: 586px) {
    .main-block__buttons {
        padding-top: 30px;
        text-align: center;
        margin: 0 auto;
    }
}
@media (max-width: 885px) {
    .main-block__buttons {
        padding-top: 30px;
        text-align: center;
        margin: 0 auto;
    }
}
.main-block__button {
    width: 200px;
    height: 47px;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    color: #061B46;
    line-height: 10px;

}


.main-block__button:hover {
    background-color: #061b46;
    color: #ffffff;
    transition: 300ms;
}
.main-block__button:active {
    font-weight: bold;
    background-color: #ffffff;
    color: #061b46;
    font-size: 13px;
}
.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}
@media (max-width: 1000px) {
    .main-block__image img {
        object-position: center;
    }
}
@media (max-width: 745px) {
    .main-block__image img {
        object-position: 60% 60%;
    }
}




/*===PAGE===*/
/*--------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------*/
/*===PAGE-SECTION===*/
.services__page-section {
    background-color: var(--bg-services-page);
}
.page-section {
}
.page-section__container {
    position: relative;
}

.page-section__flex-box {
    display: flex;
    justify-content: space-between;
    position: relative;
}
@media (max-width: 1000px) {
    .page-section__flex-box {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
}
.page-section__body {
}
.page-section__subject {
    padding-top: 266px;
    font-size: 19px;
    line-height: calc(19 / 24 * 100%);
    color: #6bc2f1;
    font-family: Roboto;
    font-weight: 400;
    text-transform: uppercase;
}
@media (max-width: 1000px) {
    .page-section__subject {
        padding-top: 133px;
        
    }
}
@media (max-width: 900px) {
    .page-section__subject {
        padding-top: 20px;
        
    }
}
.page-section__title {
    font-size: 36px;
    line-height: calc(36 / 44 * 100%);
    color: var(--color-text-services);
    font-family: Roboto;
    font-weight: 400;
    padding-top: 10px;
}
.page-section__discription {
    font-size: 18px;
    line-height: 30px;
    color: var(--color-text-services);
    font-family: Roboto;
    font-weight: 400;
    padding-top: 29px;
    max-width: 536px;
}
.page-section__buttons {
    padding-bottom: 265px;
    padding-top: 59px;
}
@media (max-width: 1000px) {
    .page-section__buttons {
        padding-bottom: 120px;
        padding-top: 30px;
        
    }
}
@media (max-width: 900px) {
    .page-section__buttons {
        padding-bottom: 20px;
        padding-top: 20px;
        
    }
}
.page-section__button {
    width: 200px;
    height: 46px;
    background-color: var(--bg-btn-header);
    font-size: 12px;
    line-height: calc(30 / 12 * 100%);
    font-family: Roboto;
    font-weight: 400;
    color: var(--color-btn-header);
    text-transform: uppercase;
}
.page-section__button:hover {
    background-color: #061b46;
    color: #ffffff;
    transition: 300ms;
}
.page-section__button:active {
    font-weight: bold;
    background-color: #249ee0;
    color: #ffffff;
    font-size: 13px;
}
.page-section__image {
    width: 448px;
    height: 611px;
    padding: 120px 15px;
    
}
.page-section__image img {
    object-fit: contain;
    box-sizing: none;
}

@media (max-width: 1000px) {
    .page-section__image {
        padding: 60px 15px;
        
    }
}
@media (max-width: 900px) {
    .page-section__image {
        padding: 20px 15px;
        
    }
}
/*===PAGE-SECTION===*/
/*--------------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------------*/
/*===SECTION-BANNER===*/

.section-banners {
    max-width: 1920px;
}
.section-banners__first-flex {
    display: flex;
}
@media (max-width: 1340px) {
    .section-banners__first-flex {
        flex-direction: column;
    }
}
.first-flex__position {
    position: relative;
    
}
@media (max-width: 1340px) {
    .second-flex__position {
        order: -1;
    }
}
._layer-bottom img{
    
    opacity: 0.6;
}
._layer-bottom img:hover{
    opacity: 1;
}


._layer-top img:hover{
    opacity: 0.6;
}
._layer-top img{
    opacity: 1;
}
.banner-images img{
    width: 100%;
    
}
.banner-images {
    position: relative;
    background-color: #6BC2F1ff;
}
.banner-content p{
    position: absolute;
    width: 100%;
    color: #ffffff;
    font-family: Roboto;
    font-weight: 400;
    top: 0%;
    text-align: center;
}



p.banner-content__first-subtitle {
    font-size: 26px;
    margin-top: calc(180px + (245 - 180) * ((100vw - 1340px) / (1920 - 1340)));
    line-height: 20px;
    text-transform: uppercase;
}
@media (max-width: 1340px) {
    p.banner-content__first-subtitle {
        font-size: calc(16px + 4 * (100vw / 320));
        margin-top: calc(84px + (350 - 84) * ((100vw - 320px) / (1340 - 320)));
    }
}


/*-----------*/
.banner-content__first-subject {
    font-size: 19px;
    margin-top: calc(90px + (146 - 90) * ((100vw - 1340px) / (1920 - 1340)));
    text-transform: uppercase;
    line-height: 15px;
    
}
@media (max-width: 1340px) {
    .banner-content__first-subject {
    margin-top: calc(14px + (156 - 14) * ((100vw - 320px) / (1340 - 320)));
    font-size: calc(15px + (40 - 15) * ((100vw - 320px) / (1340 - 320)));
    }
}


.banner-content__first-title {
    font-size: 36px;
    margin-top: calc(130px + (185 - 130) * ((100vw - 1340px) / (1920 - 1340)));
}
@media (max-width: 1340px) {
    .banner-content__first-title {
    margin-top: calc(33px + (225 - 33) * ((100vw - 320px) / (1340 - 320)));
    font-size: calc(23px + (54 - 23) * ((100vw - 320px) / (1340 - 320)));
    }
}

._order {
    order: -1;
}
.banner-content__first-discription {
    font-size: 18px;
    margin-top: calc(190px + (245 - 190) * ((100vw - 1340px) / (1920 - 1340)));
    max-width: 578px;
    left: calc(50% - 289px);
    line-height: 27px;
    
}
@media (max-width: 1340px) {
    .banner-content__first-discription {
    margin-top: calc(59px + (308 - 63) * ((100vw - 320px) / (1340 - 320)));
    line-height: calc(15px + (40 - 15) * ((100vw - 320px) / (1340 - 320)));
    font-size: calc(12px + (27 - 12) * ((100vw - 320px) / (1340 - 320)));
    left: 50%;
    margin-left: calc(-147px + (-285 - -147) * ((100vw - 320px) / (1340 - 320)));
    max-width: calc(300px + (578 - 300) * ((100vw - 320px) / (1340 - 320)));
    }
}
/*------------*/
.banner-content__second-subject {
    font-size: 19px;
    margin-top: calc(90px + (146 - 90) * ((100vw - 1340px) / (1920 - 1340)));
    text-transform: uppercase;
    line-height: 15px;
    
}
@media (max-width: 1340px) {
    .banner-content__second-subject {
    margin-top: calc(14px + (156 - 14) * ((100vw - 320px) / (1340 - 320)));
    font-size: calc(15px + (40 - 15) * ((100vw - 320px) / (1340 - 320)));
    }
}
.banner-content__second-title {
    font-size: 36px;
    margin-top: calc(130px + (185 - 130) * ((100vw - 1340px) / (1920 - 1340)));
    

}
@media (max-width: 1340px) {
    .banner-content__second-title {
    margin-top: calc(33px + (225 - 33) * ((100vw - 320px) / (1340 - 320)));
    font-size: calc(23px + (54 - 23) * ((100vw - 320px) / (1340 - 320)));
    }
}
.banner-content__second-discription {
    font-size: 18px;
    margin-top: calc(190px + (245 - 190) * ((100vw - 1340px) / (1920 - 1340)));
    max-width: 640px;
    left: calc(50% - 289px);
    line-height: 27px;
    
}
@media (max-width: 1340px) {
    .banner-content__second-discription {
    margin-top: calc(59px + (308 - 63) * ((100vw - 320px) / (1340 - 320)));
    line-height: calc(15px + (40 - 15) * ((100vw - 320px) / (1340 - 320)));
    font-size: calc(12px + (27 - 12) * ((100vw - 320px) / (1340 - 320)));
    left: 50%;
    margin-left: calc(-147px + (-285 - -147) * ((100vw - 320px) / (1340 - 320)));
    max-width: calc(300px + (640 - 300) * ((100vw - 320px) / (1340 - 320)));
    }
}
/*-----------*/
.section-banners__second-flex {
    display: flex;
    
}
@media (max-width: 1340px) {
    .section-banners__second-flex {
        flex-direction: column;
        
    }
}
.banner-content__discription-width {
    margin-left: -223px;
    margin-top: -45px;
    max-width: 627px;
    text-align: center;
    font-size: 18px;
    line-height: 27px;
}

/*===SECTION-BANNER===*/
/*--------------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------------*/
/*===GALLERY-PAGE===*/

.main-gallery {
    width: 100%;
    
    background-color: var(--bg-gallery-popups);
}
.main-gallery__body {
    max-width: 1170px;
    margin: 45px auto;
    
}
.main-gallery__flex-top {
    display: flex;
    opacity: 0;
    transform: translate(120%,0px);
    transition: all 1.2s ease 0s;
}
.main-gallery__flex-top._active {
    display: flex;
    opacity: 1;
    transform: translate(0px,0px);
    background-color: var(--back-bg-popup);
}
@media (max-width: 1170px) {
    .main-gallery__flex-top {
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
}
.main-gallery__images {
    margin: 15px;
    background-color: var(--back-bg-popup);
}


.main-gallery__images img{
    background-color: var(--back-bg-popup);
    width: 100%;
}
.main-gallery__flex-bottom {
    background-color: var(--back-bg-popup);
    display: flex;
    opacity: 0;
    transform: translate(-120%,0px);
    transition: all 1.2s ease 0s;
}
.main-gallery__flex-bottom._active {
    display: flex;
    opacity: 1;
    transform: translate(0px,0px);
}
@media (max-width: 1170px) {
    .main-gallery__flex-bottom {
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
}
/*===GALLERY-PAGE===*/
/*--------------------------------------------------------------------------------*/
/*===FORM===*/
/*--------------------------------------------------------------------------------*/
.form-main {
    width: 100%;
    text-align: center;
    background-color: var(--bg-services-page);
}
.form {
}
.form {
}
.form__title {
    margin-top: 92px;
    margin-bottom: 59px;
    font-size: 36px;
    line-height: 26px;
    color: var(--form-text-title);
}
.form-control {

}
.form__label {
    
}
.form__input {
    width: 461px;
    height: 46px;
    margin-top: 22px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    line-height: 23px;
    font-family: Roboto, sans-serif;
    font-weight: Regular;
    padding-left: 22px;
}
@media (max-width: 526px) {
    .form__input {
        width: calc(265px + (461 - 265) * ((100vw - 320px) / (526 - 320)));
    }
}
.form__input::placeholder {
    color: #413D4B;
    opacity: 0.5019607843137255;
    
    font-family: Roboto, sans-serif;
    
}

._area {
    padding-top: 23px;
    resize: none;
    width: 461px;
    height: 201px;
}
@media (max-width: 526px) {
    ._area {
        width: calc(265px + (461 - 265) * ((100vw - 320px) / (526 - 320)));
    }
}
._area::placeholder {
    font-size: 14px;
    
    background-color: #ffffff;
}
.form__button {
    margin-top: 20px;
    margin-bottom: 89px;
    width: 121px;
    height: 41px;
    border: 1px solid var(--btn-form-color);
    color: var(--btn-form-color);
    background-color: var(--btn-form);
    font-size: 16px;
    line-height: 15px;
}
.form__button:hover {
    background-color: #6BC2F1;
    color: #ffffff;
    font-weight: regular;
}
.form__button:active {
    background-color: #ffffff;
    color: #413D4B;
    font-weight: bold;
    border: 2px solid #413D4B;
}
/*--------------------------------------------------------------------------------*/
/*===FORM===*/
/*--------------------------------------------------------------------------------*/
/*===FOOTER===*/

.footer{
    width: 100%;
    background-color: #072135;
    font-family: Roboto, san-serifs;
    font-weight: regular;
}
.footer-conteiner {
    max-width: 1170px;
    margin: 0 auto;
}
.footer-flex {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 830px) {
    .footer-flex {
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
    }
}
.footer-column {
    max-width: 460px;
    color: #ffffff;
    padding: 0 10px;
}
@media (max-width: 830px) {
    .footer-column {
        text-align: center;
        margin: 0 auto;
    }
}
.footer-column__title {
    font-size: 18px;
    line-height: 15px;
    padding-bottom: 22px;
    padding-top: 129px;

}
@media (max-width: 830px) {
    .footer-column__title {
    padding-top: calc(20px + (30 - 20) * ((100vw - 320px) / (830 - 320)))
    }
}
.footer-column__subject {
    font-size: 14px;
    line-height: 14px;
    padding-top: 22px;
    padding-bottom: 15px;
    
}
.footer-column__discription {
    font-size: 14px;
    line-height: 26px;
    padding-top: 20px;
    margin: 0 10px 121px 10px;
}
@media (max-width: 830px) {
    .footer-column__discription {
    margin-bottom: calc(30px + (-5 - 30) * ((100vw - 320px) / (830 - 320)));
    padding: 0 10px;
    }
    
}
.footer__contact-address {
    font-size: 14px;
    line-height: 24px;
    padding-top: 22px;
}
.contact-address__item {
    font-size: 14px;
    line-height: 24px;
}
.footer__contact-email {
    font-size: 14px;
    line-height: 21px;
    padding-top: 42px;
}
.contact-email__item {
    padding-bottom: 20px;
}
/*--------------------------------------------------------------------------------*/
/*===FOOTER===*/
/* The Modal (background) */
.imagesButtons-a {
    cursor: pointer;
}
.imagesButtons-b {
    cursor: pointer;
}
.imagesButtons-c {
    cursor: pointer;
}
.imagesButtons-d {
    cursor: pointer;
}
.imagesButtons-e {
    cursor: pointer;
}

.imagesButtons-f {
    cursor: pointer;
    background-color: var(--back-bg-popup);
}

/* The Modal (background) */
.modal-window-a{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 50;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: 0;
    top: 0;
    
}
.modal-content-a {
    position: relative;
    top: calc(50% - 300px);
    margin: 0 auto;
    text-align: center;
    
    width: 600px;
    height: 600px;
}

.modal-content-a img {
    position: relative;
    text-align: center;
    margin: 0 auto;
    border: 10px solid rgb(97, 97, 97);
    border-radius: 5%;
    top: calc(50% - 150px);
}
.close-window-a {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(97, 97, 97);
    left: 460px;
    top: 122px;
    z-index: 99;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #fff;
}

.close-window-a span {
    display: block;
    text-transform: uppercase;
    font-size: 24px;
    position: relative;
    top: calc(50% - 12px);
    line-height: 24px;
    cursor: pointer;
    font-weight: 800;
    font-family: sans-serif;
    color: #fff;
}
.close-window-a span:hover {
    color: rgb(71, 71, 71);
}
.close-window-a:hover {
    background-color: rgb(139, 139, 139);
}
.close-window-a span:active {
    color: rgb(204, 204, 204);
}
.close-window-a:active {
    background-color: rgb(39, 39, 39);
}
/*--b--*/
/* The Modal (background) */
.modal-window-b{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 50;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: 0;
    top: 0;
    
}
.modal-content-b {
    position: relative;
    top: calc(50% - 300px);
    margin: 0 auto;
    text-align: center;
    
    width: 600px;
    height: 600px;
}

.modal-content-b img {
    position: relative;
    text-align: center;
    margin: 0 auto;
    border: 10px solid rgb(97, 97, 97);
    border-radius: 5%;
    top: calc(50% - 150px);
}
.close-window-b {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(97, 97, 97);
    left: 460px;
    top: 122px;
    z-index: 99;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #fff;
}

.close-window-b span {
    display: block;
    text-transform: uppercase;
    font-size: 24px;
    position: relative;
    top: calc(50% - 12px);
    line-height: 24px;
    cursor: pointer;
    font-weight: 800;
    font-family: sans-serif;
    color: #fff;
}
.close-window-b span:hover {
    color: rgb(71, 71, 71);
}
.close-window-b:hover {
    background-color: rgb(139, 139, 139);
}
.close-window-b span:active {
    color: rgb(204, 204, 204);
}
.close-window-b:active {
    background-color: rgb(39, 39, 39);
}
/*--c--*/
/* The Modal (background) */
.modal-window-c{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 50;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: 0;
    top: 0;
    
}
.modal-content-c {
    position: relative;
    top: calc(50% - 300px);
    margin: 0 auto;
    text-align: center;
    
    width: 600px;
    height: 600px;
}

.modal-content-c img {
    position: relative;
    text-align: center;
    margin: 0 auto;
    border: 10px solid rgb(97, 97, 97);
    border-radius: 5%;
    top: calc(50% - 150px);
}
.close-window-c {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(97, 97, 97);
    left: 460px;
    top: 122px;
    z-index: 99;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #fff;
}

.close-window-c span {
    display: block;
    text-transform: uppercase;
    font-size: 24px;
    position: relative;
    top: calc(50% - 12px);
    line-height: 24px;
    cursor: pointer;
    font-weight: 800;
    font-family: sans-serif;
    color: #fff;
}
.close-window-c span:hover {
    color: rgb(71, 71, 71);
}
.close-window-c:hover {
    background-color: rgb(139, 139, 139);
}
.close-window-c span:active {
    color: rgb(204, 204, 204);
}
.close-window-c:active {
    background-color: rgb(39, 39, 39);
}
/*--d--*/
/* The Modal (background) */
.modal-window-d{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 50;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: 0;
    top: 0;
    
}
.modal-content-d {
    position: relative;
    top: calc(50% - 300px);
    margin: 0 auto;
    text-align: center;
    
    width: 600px;
    height: 600px;
}

.modal-content-d img {
    position: relative;
    text-align: center;
    margin: 0 auto;
    border: 10px solid rgb(97, 97, 97);
    border-radius: 5%;
    top: calc(50% - 150px);
}
.close-window-d {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(97, 97, 97);
    left: 460px;
    top: 122px;
    z-index: 99;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #fff;
}

.close-window-d span {
    display: block;
    text-transform: uppercase;
    font-size: 24px;
    position: relative;
    top: calc(50% - 12px);
    line-height: 24px;
    cursor: pointer;
    font-weight: 800;
    font-family: sans-serif;
    color: #fff;
}
.close-window-d span:hover {
    color: rgb(71, 71, 71);
}
.close-window-d:hover {
    background-color: rgb(139, 139, 139);
}
.close-window-d span:active {
    color: rgb(204, 204, 204);
}
.close-window-d:active {
    background-color: rgb(39, 39, 39);
}
/*--e--*/
/* The Modal (background) */
.modal-window-e{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 50;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: 0;
    top: 0;
    
}
.modal-content-e {
    position: relative;
    top: calc(50% - 300px);
    margin: 0 auto;
    text-align: center;
    
    width: 600px;
    height: 600px;
}

.modal-content-e img {
    position: relative;
    text-align: center;
    margin: 0 auto;
    border: 10px solid rgb(97, 97, 97);
    border-radius: 5%;
    top: calc(50% - 150px);
}
.close-window-e {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(97, 97, 97);
    left: 460px;
    top: 122px;
    z-index: 99;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #fff;
}

.close-window-e span {
    display: block;
    text-transform: uppercase;
    font-size: 24px;
    position: relative;
    top: calc(50% - 12px);
    line-height: 24px;
    cursor: pointer;
    font-weight: 800;
    font-family: sans-serif;
    color: #fff;
}
.close-window-e span:hover {
    color: rgb(71, 71, 71);
}
.close-window-e:hover {
    background-color: rgb(139, 139, 139);
}
.close-window-e span:active {
    color: rgb(204, 204, 204);
}
.close-window-e:active {
    background-color: rgb(39, 39, 39);
}
/*--f--*/
/* The Modal (background) */
.modal-window-f{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 50;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: 0;
    top: 0;
    
}
.modal-content-f {
    position: relative;
    top: calc(50% - 300px);
    margin: 0 auto;
    text-align: center;
    
    width: 600px;
    height: 600px;
}

.modal-content-f img {
    position: relative;
    text-align: center;
    margin: 0 auto;
    border: 10px solid rgb(97, 97, 97);
    border-radius: 5%;
    top: calc(50% - 150px);
}
.close-window-f {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(97, 97, 97);
    left: 460px;
    top: 122px;
    z-index: 99;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #fff;
}

.close-window-f span {
    display: block;
    text-transform: uppercase;
    font-size: 24px;
    position: relative;
    top: calc(50% - 12px);
    line-height: 24px;
    cursor: pointer;
    font-weight: 800;
    font-family: sans-serif;
    color: #fff;
}
.close-window-f span:hover {
    color: rgb(71, 71, 71);
}
.close-window-f:hover {
    background-color: rgb(139, 139, 139);
}
.close-window-f span:active {
    color: rgb(204, 204, 204);
}
.close-window-f:active {
    background-color: rgb(39, 39, 39);
}

/*--------------------------------------------*/
.form-control input:focus{
    outline: 0;
    border-color: #777;

}

.form-control textarea:focus{
    outline: 0;
    border-color: #777;

}

.form-control.success input {
    border-color: var(--succes-color);
}
.form-control.success textarea {
    border-color: var(--succes-color);
}
.form-control.error input {
    border-color: var(--error-color);    
}
.form-control.error textarea {
    border-color: var(--error-color);    
}

.form-control small{
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}
.form-control.error small{
    visibility: visible;
}

:root{
    --succes-color: #2ecc71;;
    --error-color: #e74c3c;
}


/*===HOVER-EFFECTS=======================*/
.-a figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.-a figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

figure {
	width: 100%;
	margin: 0;
	padding: 0;
	background: #F1F1F1;
	overflow: hidden;
}

.-b figure {
	position: relative;
}
.-b figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.-b figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
.-c figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

/*---------------------------------------*/
 .-d {
    position: relative;
    overflow: hidden;
}

 .-d img {
    width: 100%;
    transition: .5s
}

.text-box {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: rgba(0, 52, 68, 0.5);
    transition: 0.5s
}

.text-box h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 71%;
    width: 100%;
    color: #FFF;
    font-family: arial;
    transform: translateX(-50%) translateY(-50%);
}

.text-box p {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 60%;
    left: 112%;
    width: 100%;
    color: #FFF;
    font-family: arial;
    transform: translateX(-50%) translateY(-50%);
}



.-d:hover .text-box {
    left: 0%;
}

.-d:hover img {
    transform: scale(1.2)
}

/*-----------------------------------------------------*/
img.-d{
    width: 100%;
    height: 100%;
    transition: all 1s ease-in;

}
span.-d{
    position: absolute;
    color: #fff;
    left: 30px;
    bottom: 100px;
    right: 0px;
    margin: 2px;
    font-family: sans-serif;
    padding: 3px 0px;
    font-size: 40px;
    transform: translateY(50px);
    opacity: 1;
    transition: all 1s ease-in;
    font-weight: 300px;
}
.-d:hover img{
    transform: scale(1.4);
    transition: all 1s ease-in;
    filter: brightness(.5);
}
.-d:hover span{
    transform: translateY(-200px);
    font-size: 30px;
    opacity: 1;
    transition: all 1s ease-in;
}
/*--------------------------------------------*/

.-ee figure img:hover {
    animation-name: my-animation;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    opacity: 0;
    position: relative;
    
}


@keyframes my-animation{
    0%{
        opacity: 0.6;
        
        
    }
    100%{
        opacity: 1;
        transform: rotateY(20deg);
        object-fit: contain;
        
    }


}

figure {
    background-color: var(--back-bg-popup);
}

.-f figure img:hover {
    animation-name: my-animation-f;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    position: relative;
}

@keyframes my-animation-f {
    0%{transform: translate(10px, 5px) rotate(15deg);
        
    }
    100%{transform: translate(0, 0) rotate(0);
        
        
    }
}


.progress {
	position: fixed;
	top: 0; left: 0;
	z-index: 1;
	width: 100%;
	background-color: var(--color-progress-bar);
    z-index: 250;
}
.progress--wpr {
	width: 100%;
	height: 8px;
}
.progress--bar {
	height: 8px;
	background-color: var(--color-progress);;
	width: 0%;
}